html, body {
    padding: 0;
    margin: 0;
    background-color: #607d8b;
}
h1 {
    width: 100%;
    text-align: center;
    text-transform: uppercase;
}
h2 {
    width: 100%;
    text-align: center;
}
#content {
    margin: 0px 200px;
    padding: 20px;
    font-family: Futura;
    background-color: #fff;
    box-shadow: 0px 0px 2px #000;
}
#img1 {
    background-image: url("i/cff.svg");
}